컴퓨터공학부 202111600 이소흔

기술통계량(평균, 분산, 빈도) 구하기

##1. 데이터 불러오기

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('life_expectancy.csv')

In [4]:
df

,Unnamed: 0,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

##2. 연속형 변수 평균, 분산, 범주형 변수 빈도 계산

평균, 분산

In [20]:
#기대수명 평균, 분산
print('기대수명 평균 : ', df['Life expectancy'].mean())
print('기대수명 분산 : ', df['Life expectancy'].var())

기대수명 평균 :  69.22493169398906
기대수명 분산 :  90.39521960719699

In [21]:
#성인 사망률 평균, 분산
print('성인 사망률 평균 : ', df['Adult Mortality'].mean())
print('성인 사망률 분산 : ', df['Adult Mortality'].var())

성인 사망률 평균 :  164.7964480874317
성인 사망률 분산 :  15395.921240401844

In [22]:
#영아 사망률 평균, 분산
print('영아 사망자 평균 : ', df['infant deaths'].mean())
print('영아 사망자 분산 : ', df['infant deaths'].var())

영아 사망자 평균 :  30.303948264125257
영아 사망자 분산 :  13906.659712018884

In [23]:
#BMI 지수 평균, 분산
print('BMI 지수 평균 : ', df['BMI'].mean())
print('BMI 지수 분산 : ', df['BMI'].var())

BMI 지수 평균 :  38.321246556473824
BMI 지수 분산 :  397.1122911431613

In [24]:
#GDP 지수 평균, 분산
print('GDP 지수 평균 : ', df['GDP'].mean())
print('GPD 지수 분산 : ', df['GDP'].var())

GDP 지수 평균 :  7378.404535650994
GPD 지수 분산 :  173151574.59726295

In [25]:
#Alcohol 평균, 분산
print('알코올 평균 : ', df['Alcohol'].mean())
print('알코올 분산 : ', df['Alcohol'].var())

알코올 평균 :  4.546875425459497
알코올 분산 :  15.38165824528635

In [26]:
#B형 간염 백신 접종률(1세 아동) 평균, 분산
print('B형 간염 백신 접종 평균 : ', df['Hepatitis B'].mean())
print('B형 간염 백신 접종 분산 : ', df['Hepatitis B'].var())

B형 간염 백신 접종 평균 :  78.64811071375138
B형 간염 백신 접종 분산 :  603.1287790982504

In [27]:
#1인당 건강 관련 지출 GDP 대비 비율로 환산
print('1인당 건강 관련 지출 평균 : ', df['percentage expenditure'].mean())
print('1인당 건강 관련 지출 분산 : ', df['percentage expenditure'].var())

1인당 건강 관련 지출 평균 :  738.2512954533831
1인당 건강 관련 지출 분산 :  3951805.4827215625

In [28]:
#홍역 보고 건수(연간)
print('홍역 보고 건수 평균 : ', df['Measles'].mean())
print('홍역 보고 건수 분산 : ', df['Measles'].var())

홍역 보고 건수 평균 :  2419.5922396187884
홍역 보고 건수 분산 :  131498338.34235595

In [29]:
#5세 미만 사망자 수
print('5세 미만 사망자 평균 : ', df['under-five deaths'].mean())
print('5세 미만 사망자 분산 : ', df['under-five deaths'].var())

5세 미만 사망자 평균 :  42.0357385976855
5세 미만 사망자 분산 :  25742.774003216797

In [30]:
#소아마비 백신 접종률
print('소아마비 백신 접종 평균 : ', df['Polio'].mean())
print('소아마비 백신 접종 분산 : ', df['Polio'].var())

소아마비 백신 접종 평균 :  82.55018842069202
소아마비 백신 접종 분산 :  545.3225731686625

In [31]:
#GDP 대비 건강 비용 지출 비율
print('GDP 대비 건강 비용 지출 비율 평균 : ', df['Total expenditure'].mean())
print('GDP 대비 건강 비용 지출 비율 분산 : ', df['Total expenditure'].var())

GDP 대비 건강 비용 지출 비율 평균 :  5.924098025867937
GDP 대비 건강 비용 지출 비율 분산 :  5.763698198763541

In [32]:
#디프테리아 백신 접종률
print('건강 지출 비율 평균 : ', df['Diphtheria'].mean())
print('건강 지출 비율 분산 : ', df['Diphtheria'].var())

건강 지출 비율 평균 :  82.32408359027063
건강 지출 비율 분산 :  558.8530530894087

In [33]:
#HIV/AIDS로 인한 사망률(1,000명당)
print('건강 지출 비율 평균 : ', df['HIV/AIDS'].mean())
print('건강 지출 비율 분산 : ', df['HIV/AIDS'].var())

건강 지출 비율 평균 :  1.7421034717494894
건강 지출 비율 분산 :  25.783895744141596

In [34]:
#전체 인구
print('인구 평균 : ', df['Population'].mean())
print('인구 분산 : ', df['Population'].var())

인구 평균 :  12734717.555359533
인구 분산 :  2896259126605159.5

In [35]:
#1~19세 저체중 비율(퍼센트)
print('1~19세 저제충 비율 평균 : ', df['thinness 1-19 years'].mean())
print('1~19세 저체중 비율 분산 : ', df['thinness 1-19 years'].var())

1~19세 저제충 비율 평균 :  4.839703856749311
1~19세 저체중 비율 분산 :  19.311941486318155

In [36]:
#5~9세 저체중 비율(퍼센트)
print('5~9세 저제충 비율 평균 : ', df['thinness 5-9 years'].mean())
print('5~9세 저체중 비율 분산 : ', df['thinness 5-9 years'].var())

5~9세 저제충 비율 평균 :  4.870316804407714
5~9세 저체중 비율 분산 :  20.09466847413684

In [37]:
#소득 자원 구성 지수(0~1, 인적자본 및 소득 불평등 반영)
print('소득 자원 구성 지수 평균 : ', df['Income composition of resources'].mean())
print('소득 자원 구성 지수 분산 : ', df['Income composition of resources'].var())

소득 자원 구성 지수 평균 :  0.630361810755616
소득 자원 구성 지수 분산 :  0.04208225890199745

In [38]:
#평균 교육 년수
print('교육 년수 평균 : ', df['Schooling'].mean())
print('교육 년수 분산 : ', df['Schooling'].var())

교육 년수 평균 :  12.009836623553436
교육 년수 분산 :  10.661132353278617

빈도

In [39]:
#국가 빈도
df['Country'].value_counts().tail(13)

Country
Venezuela (Bolivarian Republic of)    16
United States of America              16
Uruguay                               16
Dominica                               1
Cook Islands                           1
Palau                                  1
Niue                                   1
Nauru                                  1
Monaco                                 1
Marshall Islands                       1
Saint Kitts and Nevis                  1
San Marino                             1
Tuvalu                                 1
Name: count, dtype: int64

In [40]:
len(df['Country'].unique())

193

In [41]:
#상태(개발도상국/선진국) 빈도
df['Status'].value_counts()

Status
Developing    2426
Developed      512
Name: count, dtype: int64

In [42]:
df['Status'].value_counts(normalize=True) * 100 #%로 구하기

Status
Developing    82.573179
Developed     17.426821
Name: proportion, dtype: float64

In [43]:
#년도별 데이터 개수(빈도)
df['Year'].value_counts()

Year
2013    193
2015    183
2014    183
2012    183
2011    183
2010    183
2009    183
2008    183
2007    183
2006    183
2005    183
2004    183
2003    183
2002    183
2001    183
2000    183
Name: count, dtype: int64